html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #3b7d3f;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: white;
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
  }
  
  h1, p {
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
  }