body {
    background-color: #11646b; /* 和風の濃い緑 */
    font-family: 'RocknRoll One', sans-serif; /* フォント */
    font-size: 5vw; /* ページの幅に応じたフォントサイズ */
    color: #FFFFFF; /* テキストの色を白に */
  }
  h1 {
    font-size: 5vw;
    height: 10vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  p {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    text-align: center;
  }